@tailwind base;
@tailwind components;
@tailwind utilities;

.no-hightlight{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.job-category-desktop::-webkit-scrollbar {
  display: none;
}
.job-found::-webkit-scrollbar {
  display: none;
}